@font-face {
  font-weight: normal;
  font-family: "OpenSans";
  font-style: normal;

  src: url("../fonts/opensans.woff2") format("woff2"),
       url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "OpenSans";
  font-style: normal;

  src: url("../fonts/opensansbold.woff2") format("woff2"),
       url("../fonts/opensansbold.woff") format("woff");
}

body {
	font-family: "OpenSans", Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
	background: @bg-lightgrey;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media @tablet-widths {
  body {
  	background-size: 768px auto;
  }
}

@media @desktop-widths {
  body {
    background-size: 1150px auto;
  }
}